<header>
     <nav>
          <div class="site-logo">
               <a href="../"><img src="../images/JOKERSLogo.png" class= "SeriesLogo" alt="Text logo for Magical Girl Raising Project: JOKERS"></a>
          </div>
          <div class="menu-toggle">
               &equiv;
          </div>
          <ul class="menu">
               <li class="menu-parent"><a class="menu-link" href="../elements/">Pure Elements</a>
                    <ul class="sub-menu Elements">
                         <li><a class="menu-link" href="../elements#Tempest">Princess Tempest</a></li>
                         <li><a class="menu-link" href="../elements#Deluge">Princess Deluge</a></li>
                         <li><a class="menu-link" href="../elements#Inferno">Princess Inferno</a></li>
                         <li><a class="menu-link" href="../elements#Quake">Princess Quake</a></li>
                         <li><a class="menu-link" href="../elements#Cherry">Prism Cherry</a></li>
                    </ul>
               </li>
               <li class="menu-parent"><a class="menu-link" href="../kingdom/">Magical Kingdom Agents</a>
                    <ul class="sub-menu Investigators">
                         <li><a class="menu-link" href="../kingdom#Snow">Snow White</a></li>
                         <li><a class="menu-link" href="../kingdom#Proud">Lady Proud</a></li>
                         <li><a class="menu-link" href="../kingdom#Umbrain">Umbrain</a></li>
                         <li><a class="menu-link" href="../kingdom#Grim">Grim Heart</a></li>
                         <li><a class="menu-link" href="../kingdom#Shufflin">Shufflin</a></li>
                    </ul>
               </li>
               <li class="menu-parent"><a class="menu-link" href="../freelancers/">Freelancers & Others</a>
                    <ul class="sub-menu Fugitives">
                         <li><a class="menu-link" href="../freelancers#Marika">Marika Fukuroi</a></li>
                         <li><a class="menu-link" href="../freelancers#Mimi">Styler Mimi</a></li>
                         <li><a class="menu-link" href="../freelancers#Filru">Filru</a></li>
                         <li><a class="menu-link" href="../freelancers#Uttakatta">Uttakatta</a></li>
                         <li><a class="menu-link" href="../freelancers#Kafuria">Kafuria</a></li>
                         <li><a class="menu-link" href="../freelancers#Stanczyka">Stanczyka</a></li>
                    </ul>
               </li>
          </ul>
     </nav>
</header>